@model IEnumerable<SalaryCalculator.Web.Models.SalaryViewModel>
<div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Country</th>
                <th>Email</th>
                <th>Gross Salary</th>
                <th>Tax</th>
                <th>Net Salary</th>
                <th>DateTime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var salary in Model)
            {
            <tr>
                <td>@salary.Country</td>
                <td>@salary.PersonEmail</td>
                <td>@salary.GrossSalary</td>
                <td>@salary.Tax</td>
                <td>@salary.NetSalary</td>
                <td>@salary.DateCheck</td>
            </tr>
            }
        </tbody>
    </table>
</div>

